### Building Pandas Dataframe

In [1]:
import pandas as pd

In [16]:
data = {
    "Name": ["Alice", "Ram", "Sakshi", "Bi"],
    "Age": [25, 19, 20, 20],
    "City": ["New York", "Lalitpur", "Mahendranagar", "Kathmandu"],
}

df = pd.DataFrame(data,index=['a','b','c','d'])
print(df)
df

     Name  Age           City
a   Alice   25       New York
b     Ram   19       Lalitpur
c  Sakshi   20  Mahendranagar
d      Bi   20      Kathmandu

     Name  Age           City
a   Alice   25       New York
b     Ram   19       Lalitpur
c  Sakshi   20  Mahendranagar
d      Bi   20      Kathmandu

In [6]:
# df.info()
print(df.describe())

             Age
count   4.000000
mean   21.000000
std     2.708013
min    19.000000
25%    19.750000
50%    20.000000
75%    21.250000
max    25.000000

In [10]:
df.to_csv("demo.csv", index=False)

### <span style="color: #961e4e; font-weight: bold">loc (location-based indexing)</span>

In [19]:
df.loc['c', ["Name", "Age"]]
# ERR NameError = variable not defined

Name    Sakshi
Age         20
Name: c, dtype: object

### <span style="color: #961e4e; font-weight: bold">iloc (Integer location-based indexing )</span>

In [20]:
df.iloc[0]

Name       Alice
Age           25
City    New York
Name: a, dtype: object

### Data Filtering

In [23]:
adults = df[df.Age>20]
adults

    Name  Age      City
a  Alice   25  New York