In [42]:
import pandas as pd

In [43]:
bios = pd.read_csv('complete-pandas-tutorial/data/bios.csv')

In [44]:
bios_new = bios.copy()

In [45]:
# bios["born_date"].str[:4]
# bios.head()

bios_new['first_name'] = bios_new['name'].str.split(" ").str[0]
# bios_new

# Day4

In [46]:
# bios.info()
# bios_new.query("first_name == 'Keith'")
bios_new["born_datetime"] = pd.to_datetime(bios_new["born_date"])
# bios_new['born_datetime'] = pd.to_datetime(bios_new['born_date'], erros='coerce') # tip to coerce your error gracefully
# bios_new['born_datetime'] = pd.to_datetime(bios_new['born_date'], format='%Y-%m-%d') # tip we can specify our own format
#IMP - Setting errors='coerce' will convert non-numeric values to NaN (Not a Number) without raising an error.
bios_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   athlete_id     145500 non-null  int64
 1   name           145500 non-null  object
 2   born_date      143693 non-null  object
 3   born_city      110908 non-null  object
 4   born_region    110908 non-null  object
 5   born_country   110908 non-null  object
 6   NOC            145499 non-null  object
 7   height_cm      106651 non-null  float64
 8   weight_kg      102070 non-null  float64
 9   died_date      33940 non-null   object
 10  first_name     145500 non-null  object
 11  born_datetime  143693 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(8)
memory usage: 13.3+ MB

In [47]:
bios_new['born_year'] = bios_new['born_datetime'].dt.year
bios_new[['name','born_year']]

                         name  born_year
0       Jean-François Blanchy     1886.0
1              Arnaud Boetsch     1969.0
2                Jean Borotra     1898.0
3             Jacques Brugnon     1895.0
4                Albert Canet     1878.0
...                       ...        ...
145495      Polina Luchnikova     2002.0
145496    Valeriya Merkusheva     1999.0
145497        Yuliya Smirnova     1998.0
145498         André Foussard     1899.0
145499          Bill Phillips     1913.0

[145500 rows x 2 columns]

In [48]:
bios_new.to_csv('MY-datas/bios_new.csv', index=False) #INFO - to not save an extra column of index

In [49]:
bios_new.to_parquet('MY-datas/bios_new.parquet', index=False) #INFO - to not save an extra column of index

- Adding Custom Columns

In [54]:
bios['height_category'] = bios['height_cm'].apply(lambda x: 'Short' if x<165 else("Average" if x <185 else 'Tall'))
#NOTE lambda func

In [53]:
bios[["name", "height_category"]]

                         name height_category
0       Jean-François Blanchy            Tall
1              Arnaud Boetsch         Average
2                Jean Borotra         Average
3             Jacques Brugnon         Average
4                Albert Canet            Tall
...                       ...             ...
145495      Polina Luchnikova         Average
145496    Valeriya Merkusheva         Average
145497        Yuliya Smirnova           Short
145498         André Foussard         Average
145499          Bill Phillips            Tall

[145500 rows x 2 columns]

In [56]:
#func here
def categorize_athlete(row):
    if row['height_cm'] < 175 and row['weight_kg']<70:
        return 'LightWeight'
    elif row['height_cm'] < 185 or row['weight_kg'] <= 80:
        return 'MiddleWeight'
    else: 
        return 'HeavyWeight'
    
bios['Category'] = bios.apply(categorize_athlete, axis = 1) #INFO axis = 1 is row, 0 for column

In [58]:
bios[["name", "Category"]]

                         name      Category
0       Jean-François Blanchy   HeavyWeight
1              Arnaud Boetsch  MiddleWeight
2                Jean Borotra  MiddleWeight
3             Jacques Brugnon   LightWeight
4                Albert Canet   HeavyWeight
...                       ...           ...
145495      Polina Luchnikova   LightWeight
145496    Valeriya Merkusheva   LightWeight
145497        Yuliya Smirnova   LightWeight
145498         André Foussard  MiddleWeight
145499          Bill Phillips   HeavyWeight

[145500 rows x 2 columns]